<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491144946698-ut9c2qbq1vbe8a2j9kq8ohi2pmb0cmav.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491144946698-ut9c2qbq1vbe8a2j9kq8ohi2pmb0cmav</string>
	<key>API_KEY</key>
	<string>AIzaSyC1ArBd248Lh-DAvoXdw2Ms0wcCaHCOGhg</string>
	<key>GCM_SENDER_ID</key>
	<string>491144946698</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ionic.testPureza</string>
	<key>PROJECT_ID</key>
	<string>testpureza</string>
	<key>STORAGE_BUCKET</key>
	<string>testpureza.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491144946698:ios:98919ada5cd9a5d4</string>
	<key>DATABASE_URL</key>
	<string>https://testpureza.firebaseio.com</string>
</dict>
</plist>