<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" class="toolbar-background"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <div *ngFor="let item of listaUsuarios">
      <ion-grid>
        <ion-row class="ion-justify-content-start">
          <ion-col size="3">
            <ion-avatar>
              <img src="/assets/avatar.svg">
            </ion-avatar>
          </ion-col>
          <ion-col size="6">
            <ion-list-header (click)="mostrarRespuestas(item.nombreUser)">{{item.nombreUser}}
            </ion-list-header>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
