<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="assets/icon/logo.png" class="toolbar-background"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen=true class="datosPersonales">
  <form novalidate [formGroup]="formUser">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-lg offset="0">
          <ion-item>
            <ion-input expand="block" type="text" placeholder="Nombre o nickname" value="{{datosUsuario.nombre}}" [(ngModel)]="datosUsuario.nombre"
              name="nombreUser" formControlName="nombreUser" required></ion-input>
          </ion-item>

          <ion-item no-lines
            *ngIf="( formUser.get('nombreUser').hasError('minlength') || formUser.get('nombreUser').hasError('maxlength') ||formUser.get('nombreUser').hasError('pattern') ||formUser.get('nombreUser').hasError('required') ) && formUser.get('nombreUser').touched">
            <div class="error"
              *ngIf="formUser.get('nombreUser').hasError('required') && formUser.get('nombreUser').touched">
              Por favor ingrese su nombre
            </div>
            <div class="error"
              *ngIf="formUser.get('nombreUser').hasError('minlength') && formUser.get('nombreUser').touched">
              Minimo 4 caracteres
            </div>
            <div class="error"
              *ngIf="formUser.get('nombreUser').hasError('maxlength') && formUser.get('nombreUser').touched">
              Maximo 30 caracteres
            </div>
            <div class="error"
              *ngIf="formUser.get('nombreUser').hasError('pattern') && formUser.get('nombreUser').touched">
              Ingrese solo letras
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-lg offset="0">
          <ion-item>
            <ion-input expand="block" type="text" pattern="[0-9]*" decimal="true" minlength="0" maxlength="10" button-char="." placeholder="Cuentanos tu edad" value="{{datosUsuario.edad}}"
              [(ngModel)]="datosUsuario.edad" name="edadUser" formControlName="edadUser" required button-char="." decimal-char="." #amount></ion-input>
          </ion-item>

          <ion-item no-lines
            *ngIf="(formUser.get('edadUser').hasError('required') ) && formUser.get('edadUser').touched">
            <div class="error"
              *ngIf="formUser.get('edadUser').hasError('required') && formUser.get('edadUser').touched">
              Campo obligatorio
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-lg offset="0">
          <ion-item>
            <ion-input expand="block" type="email" placeholder="Escribe tu email" value="{{datosUsuario.email}}"
              [(ngModel)]="datosUsuario.email" name="emailUser" formControlName="emailUser" required></ion-input>
          </ion-item>


          <ion-item no-lines
            *ngIf="( formUser.get('emailUser').hasError('minlength') || formUser.get('emailUser').hasError('pattern') ||formUser.get('emailUser').hasError('required') ) && formUser.get('emailUser').touched">
            <div class="error"
              *ngIf="formUser.get('emailUser').hasError('required') && formUser.get('emailUser').touched">
              Por favor ingrese su email
            </div>
            <div class="error"
              *ngIf="formUser.get('emailUser').hasError('pattern') && formUser.get('emailUser').touched">
              Email invalido
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12" size-lg offset="0">
          <ion-item>
            <ion-label for="sexoUser">Sexo</ion-label>
            <ion-select placeholder="Seleccione uno" [(ngModel)]="datosUsuario.sexo" name="sexoUser"
              formControlName="sexoUser" required okText="Aceptar" cancelText="Cancelar" interface="action-sheet">
              <ion-select-option value="{{sexo.id}}" *ngFor="let sexo of sexos">{{sexo.texto}}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item no-lines
            *ngIf="(formUser.get('sexoUser').hasError('required') ) && formUser.get('sexoUser').touched">
            <div class="error"
              *ngIf="formUser.get('sexoUser').hasError('required') && formUser.get('sexoUser').touched">
              Ingrese su sexo
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>

<ion-footer class="container-fluid bg-4 ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col class ="ion-text-right">
        <ion-button (click)="navigate()" [disabled]="formUser.invalid">Siguiente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>


