<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" class="toolbar-background"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="modal">

  <ion-grid>
    <ion-row>
      <ion-col>
          <p>{{titulo}}</p>
          <br>
          <p>{{texto}}</p>
      </ion-col>
    </ion-row>
      <ion-row>
          <ion-col class="columnaModal">
            <ion-button (click)="fail()">No acepto</ion-button>          
          </ion-col>
          <ion-col class="columnaModal">
            <ion-button (click)="ok()">Acepto</ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </div>
</ion-content>
