.modal{
    background-color: cornsilk;
    height: 50%;
    top: 20%;
    position: absolute;
}

ion-card-content{
    align-self: center;
    align-content: center;
    background-color: bisque;
}

.columnaModal{
    padding-left: 50px;
}