<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" class="toolbar-background"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-grid>
      <ion-row>
        <ion-col justify-content-center col-12 col-sm>
          <ion-header text-center nowrap>Estimado(a) <strong color="success"> {{usuario.nombreUser}} </strong> tus
            respuestas son las siguientes: </ion-header>
        </ion-col>
      </ion-row>

      <ion-row *ngFor="let respuesta of usuario.respuestas | slice: inicio:tope">
        <ion-col col-12 col-sm>
          <ion-item>
          <ion-list>
            <ion-list-header class="ion-text-capitalize">
              <h4>{{respuesta.idPregunta}} ) {{respuesta.glosa}}</h4>
            </ion-list-header>
            <ion-item text-center text-capitalize color="success">{{respuesta.respuesta}}</ion-item>
          </ion-list>
        </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer class="container-fluid bg-4 text-center">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-button *ngIf="mostrarBtnAtras" size="4" size-lg offset="3" (click)="preguntaAnterior()">Anterior
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button *ngIf="mostrarBtnSiguiente" (click)="siguientePregunta()">Siguiente</ion-button>

        <ion-button color="success" *ngIf="mostrarBtnFinalizar" [routerLink]="['/home']">Finalizar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
