<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-img src="/assets/icon/logo.png" class="toolbar-background"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
      <ion-infinite-scroll-content>
        <ion-list *ngFor="let pregunta of listaPreguntas | slice: inicio:tope">
          <ion-radio-group [(ngModel)]="pregunta.respuesta" name="respuesta">
            <ion-list-header>
              {{pregunta.idPregunta}} ) {{pregunta.glosa}}
            </ion-list-header>

            <ion-item *ngFor="let opcion of pregunta.opciones">
              <ion-label>{{opcion}}</ion-label>
              <ion-radio value="{{opcion}}" name="{{pregunta.id}}"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>


<ion-footer class="container-fluid bg-4 ion-text-center">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-button *ngIf="mostrarBtnAtras" size="4" size-lg offset="3" (click)="preguntaAnterior()">Anterior
        </ion-button>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button *ngIf="mostrarBtnSiguiente" (click)="siguientePregunta()">Siguiente</ion-button>

        <ion-button color="success" *ngIf="mostrarBtnFinalizar" (click)="presentModal()">Finalizar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
