ion-list-header{
    text-align: left;
}

ion-radio-group{
    display: block;
    margin: 0 auto; // Make the photo center align
    width: auto;    // Adjust the width according to height
    height: 60vh;   // Height = 50% of screen
  }