ion-list-header{
    text-align: left;
}

//Aplico solo estilos a los card que estan dentro de la clase estiloDiv.
.estiloDiv{
    height: 100vh;
    display: flex;
    ion-card{
        width: 90vh;
        height: 70vh;   // Height = 50% of screen
    }
}