// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';


.container-fluid {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
}

.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }

  .toolbar-background {
    background-size: 8%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 33px;
    align-items: center;
   }

   .spacer {
    height: 10px;
    background-color: white;
   }

   .fondoApp{
    background-color: brown;
   }

    //estilos del modal
   .modalClass .modal-wrapper {
    width: 95%;
    height: 50%;
    border-radius: 5%;
   }

     
  .circle-pic{
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .botonesMenu {
    .item-md ion-icon[item-left] + .item-inner,
    .item-md ion-icon[item-left] + .item-input {
      margin-left: 8px;
    }
  }