.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
  }
  
  .circle-pic{
    width:150px;
    height:150px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .fondo-portada{
    background-color: aqua;
    background: aquamarine;
  }
